/* .root {
    display: none;
} */

.content {
    color: blueviolet;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.content.show {
    height: auto;
    max-height: 999px;
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}